.Loading {
  margin-top: 60px;
  margin-bottom: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 50px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
