.SearchResults {
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-family: 'Megrim', cursive;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4)
}

ul {
  list-style: none;
}

li {
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #4CA7C7;
}