body {
  background-color: #282c34;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  font-family: 'Megrim', cursive;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #282c34; */
  color: #fff;
  min-height: 100vh;
}